<mat-accordion>
    <mat-expansion-panel *ngFor="let financialOfficer of financialOfficerAccounts">
      <mat-expansion-panel-header>
        <div class="col-md-6">
          <mat-panel-title>
            <span>{{financialOfficer.name}}</span>
          </mat-panel-title>
        </div>
        <div class="col-md-6">
          <mat-panel-description>
            <span>{{financialOfficer.email}}</span>
          </mat-panel-description>
        </div>
      </mat-expansion-panel-header>
      <label>Accounts:</label>
      <div *ngFor="let accounts of financialOfficer.accounts">
        <div class="row">
        <div class="col-md-3">
          <span>{{accounts.name}}</span>
        </div>
        <div class="col-md-3">
            <span>{{accounts.number}}</span>
          </div>
          <div class="col-md-3">
              <span>{{accounts.type}}</span>
            </div>
            </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  
  <mat-accordion>
    <!--<mat-expansion-panel *ngFor="let chequeReq of chequeReqs">-->
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Financial Officer Name: </b>&nbsp; <!--{{financialOfficer.name}}-->
        </mat-panel-title>
        <mat-panel-title>
          <b>Email: </b>&nbsp;<!--{{financialOfficer.email}}-->
        </mat-panel-title>
      </mat-expansion-panel-header>
  
      <li>
      <!--<li *ngFor="TODO: accounts">-->
        <mat-panel-title>
          <b>Account: <!--account number--> </b>
        </mat-panel-title>
        <b>Name: </b> <!--account name-->
  
        </li>
      <mat-action-row>
        <button mat-button color="primary" (click)="nextStep()">Add Account</button>
      </mat-action-row>
  
  
  
    </mat-expansion-panel>
  
  </mat-accordion>