<br>
<div class = "px-2">
  <div>
    <!-- Button for Creating Ledger (TO DO : PopUp on Click) -->
    <button mat-raised-button color="warn"> <strong> Create New Ledger </strong></button>
  </div>
  <br>
  <!-- Display List (TO DO : Import List from Back End) -->
  <div class="list-group">
      <button type="button" class="list-group-item list-group-item-action">Martin L. King - 28940</button>
      <button type="button" class="list-group-item list-group-item-action">Jack Kirby - 112342</button>
      <button type="button" class="list-group-item list-group-item-action">Axel Roses - 266334</button>
      <button type="button" class="list-group-item list-group-item-action">Stan Lee - 2323432</button>
  </div>








</div>
  
